.welcome {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 0;
  color: white;
  font-weight: lighter;
  letter-spacing: 15px;
  font-weight: 250;
}

.description {
    width:500px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: lighter;
}


.landing {
    width:100%;
    height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #404374; /* fallback for old browsers */
    /* background: #134E5E;  
    background: -webkit-linear-gradient(to left, #71B280, #134E5E); 
    background: linear-gradient(to left, #71B280, #134E5E);  */
}

.colTitle {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:20px;  
  font-weight: 400;
}


.tossContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
}


.tossZero {
  display: flex;
  width: 100%;
  height: 250px;;
  background: rgb(230, 230, 230);
  text-align: center;
  justify-content: center;  
  padding: 25px;
}

.tossOne {
  display: flex;
  width: 100%;
  height: 250px;;
  background: rgb(226, 226, 226);
  text-align: center;  
  justify-content: center; 
  padding: 25px;
}

.tossTwo {
  display: flex;
  width: 100%;
  height: 250px;;
  background: rgb(224, 223, 223);
  text-align: center;  
  justify-content: center; 
  padding: 25px;
}

.prompts {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px; 
  font-weight: 350;  
}

.info {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;  
  text-align: center; 
  font-weight: 325; 
}

.science {
  background-color: #CAE6E6;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  height: 100px;
  padding: 15px;
}

.politics {
  background-color: #F2F4C4;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  height: 100px;
  padding: 15px;
}

.environment {
  background-color: #D9F4C4;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  height: 100px;
  padding: 15px;
}

.society {
  background-color: #D6CAE6;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  height: 100px;
  padding: 15px;
}

.tosses {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.tossButton {
  width: 300px;
  height: 55px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 50px;
  border: #7C84FF;
  background: #7C84FF;
}

.tossButton-text {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  letter-spacing: 1px;
}

.timeText {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

