.quizbox {
  margin-top: auto;
  height: 430;
  width: 800px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: #FC8368;
}

.quizwrapper {
  padding: 20px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #404374;
}

.quizinstr {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 550;
  font-size: 16px;
}

.question {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 300;
  font-size: 16px;

}

.quiztitle {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 15px;
}

.homebutton {
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: 900;
  text-size-adjust: 20;
}

.form-control {
  border-radius: 10px;
  border: #FC8368;
  height: 25px;
  width: 50px;
}
