.SignIn {
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #8e9eab;
  background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);
  background: linear-gradient(to left, #eef2f3, #8e9eab);
}

.password {
  -webkit-text-security: circle;
}

.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgb(182, 182, 182);
}

.title {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 75px;
  font-weight: 300;
}

.input {
  height: 30px;
  width: 200px;
  padding-left: 10px;
  border-radius: 10x;
  outline: none;
  border: 1px solid #e1e1e1;
}

.signInButton {
  width: 100px;
  height: 30px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 120px;
  border-radius: 20px;
  border: #e1e1e1;
}
